header {
  min-height: 8vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #282c34;
  /* background-image: linear-gradient(#daf5ff, transparent, transparent); */
  background-color: #daf5ff;
  border-bottom: 1px solid #daf5ff;
}